/*
* @Author: Acer
* @Date:   2017-03-29 18:03:15
* @Last Modified by:   Acer
* @Last Modified time: 2017-03-29 19:22:08
*/
*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #fff;
}
/* 广告 */
.header{
	width: 100%;
	height: 40px;
	background: #444;
	color: #A8A8AA;
	font-size: 12px;
	text-align: right;
	line-height: 40px;
}

.header .adver{
	width:1000px;
	height:100%;  
}

/* 轮播图 */

.wheel {
	width: 100%;
	height: 540px;
}

.wheel .nav{
	width: 100%;
	height: 44px;
	background: rgba(0, 0, 0, 0.8);
	
}
.wheel .nav .con1{
	width: 1000px;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	text-align: justify; 
}
.wheel .nav .con1:after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
}

.wheel .nav .con2:after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 0;
	/* padding: 0 20px; */
	box-sizing: border-box;
}

.wheel .nav .con2 a{
	display:none;

}

.wheel .nav .con1 a{
	display:inline-block;
}

.wheel .wheel-img{
	width: 100%;
	height:540px;
}

.wheel .wheel-img a{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #cc3341; 
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center 200px;
	background-image:url('../img/iphone7_large.png');   
}

@media screen and (max-width: 1000px) {
	.header .adver{
		width: 100%;
		padding: 0 30px;
		box-sizing: border-box;
	}

	.wheel .nav .con{
		display: none;
	}
	.wheel .nav .con1{
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
	
}

@media screen and (max-width:770px) {
	
	.header .adver{
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
	}
	.wheel .nav .con1{
		display: none;
	}
	.wheel .nav .con2{
		display: block;
		width: 100%;
		line-height: 44px;
		height: 44px;
	}
}
